[BASIC]
variable-rgx=([a-z_][a-z0-9_]{2,30}$|e|fp|id)
attr-rgx=([a-z_][a-z0-9_]{2,30}$|id)
argument-rgx=([a-z_][a-z0-9_]{2,30}$|fp|id)
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__)|logger)$

[MISCELLANEOUS]
notes=FIXME,XXX

[MESSAGES CONTROL]
disable=invalid-name,
        too-few-public-methods
